In [1]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine, MetaData, Table
from sqlalchemy import select, or_
from sqlalchemy import Column, Integer, String,Date, DateTime, Float
from sqlalchemy import ForeignKey

In [2]:
db_string = "postgres://postgres:admin@localhost:5432/postgres" #default values

engine = create_engine(db_string)

Base = declarative_base()

# Introduction

In [3]:
class Author(Base):
    __tablename__ = 'authors'
    id = Column(Integer, primary_key=True)
    name = Column(String(50))
    surname = Column(String(50))
    born_date = Column(Date)

    def __repr__(self):
        return "<authors(id='{0}', name={1}, surname={2}, born_date={3})>".format(
            self.id, self.name, self.surnamey, self.born_date)

In [4]:
# CREATE TABLE public.authors
# (
#     id integer NOT NULL DEFAULT nextval('authors_id_seq'::regclass),
#     name character varying(50),
#     surname character varying(50),
#     born_date date,
#     CONSTRAINT authors_pkey PRIMARY KEY (id)
# )

# TABLESPACE pg_default;

# ALTER TABLE public.authors
#     OWNER to postgres;

In [5]:
#from sqlalchemy import ForeignKey

class Book(Base):
    __tablename__ = 'books'
    id = Column(Integer, primary_key=True)
    id_author = Column(Integer, ForeignKey('authors.id'))
    original_title = Column(String, nullable = False)
    publication_date = Column(Integer, nullable = False)
    original_language = Column(String(), nullable = False)

In [6]:
Base.metadata.create_all(engine)

In [7]:
db = create_engine(db_string)
print(db.table_names())
names=db.table_names()

['authors', 'books']

In [8]:
metadata = MetaData()
table_authors = Table('authors', metadata, autoload=True, autoload_with=db)

In [13]:
for i in range(len(names)):
    table=Table(names[i], metadata, autoload=True, autoload_with=db)
    print(names[i])
    print(table.columns.keys(),"\n")

authors
['id', 'name', 'surname', 'born_date']

books
['id', 'id_author', 'original_title', 'publication_date', 'original_language']

# PostgreSQL

In [2]:
class Users(Base):
    __tablename__ = 'users'
    id = Column(Integer, primary_key=True)
    email = Column(String(250)) #varchar
    
    def __repr__(self):
        return "<bookings(id='{0}', host_id={1})>".format(
            self.id, self.email)

In [3]:
#Hosts.__table__.create(engine)

In [4]:
class Bookings(Base):
    __tablename__ = 'bookings'
    id = Column(Integer, primary_key=True)
    user_id = Column(Integer, ForeignKey('users.id'))
    place_id = Column(Integer, ForeignKey('places.id'))
    start_date = Column(Date, nullable = False)
    end_date = Column(Date, nullable = False)
    price_per_night = Column(Float, nullable = False)
    num_nights = Column(Integer, nullable = False)
    
    def __repr__(self):
        return "<bookings(id='{0}', user_id={1}, place_id={2}, start_date={3}, end_date={4}, price_per_night={5}, num_nights={6})>".format(
            self.id, self.user_id, self.place_id, self.start_date, self.end_date, self.price_per_night, self.num_nights)

In [5]:
class Reviews(Base):
    __tablename__ = 'reviews'
    id = Column(Integer, primary_key=True)
    booking_id = Column(Integer, ForeignKey('bookings.id'))
    rating = Column(Integer, nullable = False)#tinyint
    review_body = Column(String, nullable = False)#text
    
    def __repr__(self):
        return "<bookings(id='{0}', booking_id={1}, rating={2}, review_body={3})>".format(
            self.id, self.booking_id, self.rating, self.review_body)

In [6]:
class Places(Base):
    __tablename__ = 'places'
    id = Column(Integer, primary_key=True)
    host_id = Column(Integer, ForeignKey('hosts.id'))
    address = Column(String(250), nullable = False)
    city_id = Column(Integer, ForeignKey('cities.id'))
    
    def __repr__(self):
        return "<bookings(id='{0}', host_id={1}, address={2}, city_id={3})>".format(
            self.id, self.host_id, self.address, self.city_id)

In [7]:
class Countries(Base):
    __tablename__ = 'countries'
    id = Column(Integer, primary_key=True)
    country_code = Column(String(250), nullable = False)
    name = Column(String(250), nullable = False)
    
    def __repr__(self):
        return "<bookings(id='{0}', country_code={1}, name={2})>".format(
            self.id, self.country_code, self.name)

In [8]:
class Cities(Base):
    __tablename__ = 'cities'
    id = Column(Integer, primary_key=True)
    name = Column(String(250), nullable = False)
    country_id = Column(Integer, ForeignKey('countries.id'))
    
    def __repr__(self):
        return "<bookings(id='{0}', name={1}, country_id={2})>".format(
            self.id, self.name, self.country_id)

In [9]:
class Hosts(Base):
    __tablename__ = 'hosts'
    id = Column(Integer, primary_key=True)
    user_id = Column(Integer, ForeignKey('users.id'))
    
    def __repr__(self):
        return "<bookings(id='{0}', user_id={1})>".format(
            self.id, self.user_id)

In [10]:
Base.metadata.create_all(engine)

In [11]:
db = create_engine(db_string)
metadata = MetaData()
names=db.table_names()

In [12]:
for i in range(len(names)):
    table=Table(names[i], metadata, autoload=True, autoload_with=db)
    print(names[i])
    print(table.columns.keys(),"\n")

countries
['id', 'country_code', 'name']

cities
['id', 'name', 'country_id']

users
['id', 'email']

hosts
['id', 'user_id']

places
['id', 'host_id', 'address', 'city_id']

bookings
['id', 'user_id', 'place_id', 'start_date', 'end_date', 'price_per_night', 'num_nights']

reviews
['id', 'booking_id', 'rating', 'review_body']

In [14]:
for i in range(len(names)):
    table=Table(names[i], metadata, autoload=True, autoload_with=db)
    print(names[i])
    print(repr(table),"\n\n")

countries
Table('countries', MetaData(bind=None), Column('id', INTEGER(), table=<countries>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x00000235997F4B20>, for_update=False)), Column('country_code', VARCHAR(length=250), table=<countries>, nullable=False), Column('name', VARCHAR(length=250), table=<countries>, nullable=False), schema=None)


cities
Table('cities', MetaData(bind=None), Column('id', INTEGER(), table=<cities>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000002359978FBB0>, for_update=False)), Column('name', VARCHAR(length=250), table=<cities>, nullable=False), Column('country_id', INTEGER(), ForeignKey('countries.id'), table=<cities>), schema=None)


users
Table('users', MetaData(bind=None), Column('id', INTEGER(), table=<users>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000002359981AF40>, for_update=False)), Column('email', VARCHAR(length=250), table=<users>), schema=None)


hosts
Table('hosts', MetaData(bind=None), Column('id', INTEGER(), table=<hosts>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x0000023599825A00>, for_update=False)), Column('user_id', INTEGER(), ForeignKey('users.id'), table=<hosts>), schema=None)


places
Table('places', MetaData(bind=None), Column('id', INTEGER(), table=<places>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x0000023599836970>, for_update=False)), Column('host_id', INTEGER(), ForeignKey('hosts.id'), table=<places>), Column('address', VARCHAR(length=250), table=<places>, nullable=False), Column('city_id', INTEGER(), ForeignKey('cities.id'), table=<places>), schema=None)


bookings
Table('bookings', MetaData(bind=None), Column('id', INTEGER(), table=<bookings>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x00000235998360A0>, for_update=False)), Column('user_id', INTEGER(), ForeignKey('users.id'), table=<bookings>), Column('place_id', INTEGER(), ForeignKey('places.id'), table=<bookings>), Column('start_date', DATE(), table=<bookings>, nullable=False), Column('end_date', DATE(), table=<bookings>, nullable=False), Column('price_per_night', DOUBLE_PRECISION(precision=53), table=<bookings>, nullable=False), Column('num_nights', INTEGER(), table=<bookings>, nullable=False), schema=None)


reviews
Table('reviews', MetaData(bind=None), Column('id', INTEGER(), table=<reviews>, primary_key=True, nullable=False, server_default=DefaultClause(<sqlalchemy.sql.elements.TextClause object at 0x000002359983AD90>, for_update=False)), Column('booking_id', INTEGER(), ForeignKey('bookings.id'), table=<reviews>), Column('rating', INTEGER(), table=<reviews>, nullable=False), Column('review_body', VARCHAR(), table=<reviews>, nullable=False), schema=None)

# MySQL

In [3]:
db_string = "mysql://root:admin@localhost:3306/test" #default values

engine = create_engine(db_string)

Base = declarative_base()

In [6]:
class Users(Base):
    __tablename__ = 'users'
    id = Column(Integer, primary_key=True)
    email = Column(String(250)) #varchar
    
    def __repr__(self):
        return "<bookings(id='{0}', host_id={1})>".format(
            self.id, self.email)

#
#Hosts.__table__.create(engine)
class Bookings(Base):
    __tablename__ = 'bookings'
    id = Column(Integer, primary_key=True)
    user_id = Column(Integer, ForeignKey('users.id'))
    place_id = Column(Integer, ForeignKey('places.id'))
    start_date = Column(Date, nullable = False)
    end_date = Column(Date, nullable = False)
    price_per_night = Column(Float, nullable = False)
    num_nights = Column(Integer, nullable = False)
    
    def __repr__(self):
        return "<bookings(id='{0}', user_id={1}, place_id={2}, start_date={3}, end_date={4}, price_per_night={5}, num_nights={6})>".format(
            self.id, self.user_id, self.place_id, self.start_date, self.end_date, self.price_per_night, self.num_nights)
    
    
class Reviews(Base):
    __tablename__ = 'reviews'
    id = Column(Integer, primary_key=True)
    booking_id = Column(Integer, ForeignKey('bookings.id'))
    rating = Column(Integer, nullable = False)#tinyint
    review_body = Column(String(250), nullable = False)#text
    
    def __repr__(self):
        return "<bookings(id='{0}', booking_id={1}, rating={2}, review_body={3})>".format(
            self.id, self.booking_id, self.rating, self.review_body)
    
    
class Places(Base):
    __tablename__ = 'places'
    id = Column(Integer, primary_key=True)
    host_id = Column(Integer, ForeignKey('hosts.id'))
    address = Column(String(250), nullable = False)
    city_id = Column(Integer, ForeignKey('cities.id'))
    
    def __repr__(self):
        return "<bookings(id='{0}', host_id={1}, address={2}, city_id={3})>".format(
            self.id, self.host_id, self.address, self.city_id)
    
    
class Countries(Base):
    __tablename__ = 'countries'
    id = Column(Integer, primary_key=True)
    country_code = Column(String(250), nullable = False)
    name = Column(String(250), nullable = False)
    
    def __repr__(self):
        return "<bookings(id='{0}', country_code={1}, name={2})>".format(
            self.id, self.country_code, self.name)
    
    
class Cities(Base):
    __tablename__ = 'cities'
    id = Column(Integer, primary_key=True)
    name = Column(String(250), nullable = False)
    country_id = Column(Integer, ForeignKey('countries.id'))
    
    def __repr__(self):
        return "<bookings(id='{0}', name={1}, country_id={2})>".format(
            self.id, self.name, self.country_id)
    
    
class Hosts(Base):
    __tablename__ = 'hosts'
    id = Column(Integer, primary_key=True)
    user_id = Column(Integer, ForeignKey('users.id'))
    
    def __repr__(self):
        return "<bookings(id='{0}', user_id={1})>".format(
            self.id, self.user_id)

In [7]:
Base.metadata.create_all(engine)

In [8]:
db = create_engine(db_string)
metadata = MetaData()
names=db.table_names()

In [9]:
for i in range(len(names)):
    table=Table(names[i], metadata, autoload=True, autoload_with=db)
    print(names[i])
    print(table.columns.keys(),"\n")

bookings
['id', 'user_id', 'place_id', 'start_date', 'end_date', 'price_per_night', 'num_nights']

cities
['id', 'name', 'country_id']

countries
['id', 'country_code', 'name']

hosts
['id', 'user_id']

places
['id', 'host_id', 'address', 'city_id']

reviews
['id', 'booking_id', 'rating', 'review_body']

users
['id', 'email']

In [10]:
for i in range(len(names)):
    table=Table(names[i], metadata, autoload=True, autoload_with=db)
    print(names[i])
    print(repr(table),"\n\n")

bookings
Table('bookings', MetaData(bind=None), Column('id', INTEGER(), table=<bookings>, primary_key=True, nullable=False), Column('user_id', INTEGER(), ForeignKey('users.id'), table=<bookings>), Column('place_id', INTEGER(), ForeignKey('places.id'), table=<bookings>), Column('start_date', DATE(), table=<bookings>, nullable=False), Column('end_date', DATE(), table=<bookings>, nullable=False), Column('price_per_night', FLOAT(), table=<bookings>, nullable=False), Column('num_nights', INTEGER(), table=<bookings>, nullable=False), schema=None)


cities
Table('cities', MetaData(bind=None), Column('id', INTEGER(), table=<cities>, primary_key=True, nullable=False), Column('name', VARCHAR(length=250), table=<cities>, nullable=False), Column('country_id', INTEGER(), ForeignKey('countries.id'), table=<cities>), schema=None)


countries
Table('countries', MetaData(bind=None), Column('id', INTEGER(), table=<countries>, primary_key=True, nullable=False), Column('country_code', VARCHAR(length=250), table=<countries>, nullable=False), Column('name', VARCHAR(length=250), table=<countries>, nullable=False), schema=None)


hosts
Table('hosts', MetaData(bind=None), Column('id', INTEGER(), table=<hosts>, primary_key=True, nullable=False), Column('user_id', INTEGER(), ForeignKey('users.id'), table=<hosts>), schema=None)


places
Table('places', MetaData(bind=None), Column('id', INTEGER(), table=<places>, primary_key=True, nullable=False), Column('host_id', INTEGER(), ForeignKey('hosts.id'), table=<places>), Column('address', VARCHAR(length=250), table=<places>, nullable=False), Column('city_id', INTEGER(), ForeignKey('cities.id'), table=<places>), schema=None)


reviews
Table('reviews', MetaData(bind=None), Column('id', INTEGER(), table=<reviews>, primary_key=True, nullable=False), Column('booking_id', INTEGER(), ForeignKey('bookings.id'), table=<reviews>), Column('rating', INTEGER(), table=<reviews>, nullable=False), Column('review_body', VARCHAR(length=250), table=<reviews>, nullable=False), schema=None)


users
Table('users', MetaData(bind=None), Column('id', INTEGER(), table=<users>, primary_key=True, nullable=False), Column('email', VARCHAR(length=250), table=<users>), schema=None)